/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.insurance-item {
    list-style-type: none;

}

.insurance-category .name {
    width: 300px;
    display: inline-block;
}

.insurance-item .name {
    width: 300px;
    display: inline-block;
}